header {
    background: #344e41;
    color: #dad7cd;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
body {
      background-color: #a3b18a;  
      color: #333;
  }
  h1 {
      color: #ffffff;
      background-color: #344e41;  
      padding: 20px;
      border-radius: 5px;
  }
  h2 {
      color: #ffffff;
      background-color: #344e41;  
      padding: 15px;
      border-radius: 5px;
  }
  .section {
      margin: 30px 5%;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .gallery img {
      margin: 5px;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ccc;
      transition: transform 0.3s;
      align-items: justify-content;
  }
  .gallery img:hover {
      transform: scale(1.05);
  }
  
  
    .btn-custom {
        background-color: #344e41;  
        color: #fff;
        padding: 12px 20px;  
        font-size: 16px;  
        border-radius: 5px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #588157;  
    }

    .btn-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.btn-container a {
  display: block;
  margin: 10px; 
  padding: 15px 30px; 
  text-decoration: none;
  color: #fff; 
  background-color: #344e41;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}


